/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */

$color-blue: #0047b6;
$color-dark: rgb(33, 43, 54);
$color-grey: #4a4a4a;
$color-grey-medium: #637381;
$color-red: #ff0000;
$color-yellow: #ffbb40;
$color-darkgreen: #0d463e;
/*$color-green: #54A193;*/
$color-green: #76a1a8;
$color-lightgrey: #fafafa;



$color-primary: $color-green;
$color-secondary: $color-grey;
$color-body: $color-grey-medium;
$color-danger: $color-red;
$color-warning: $color-yellow;
$color-background: $color-lightgrey;
$color-light-text: $color-grey
