h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 2rem;
  @include mq($from: tablet) {
    font-size: 2.3rem;
  }
  @include mq($from: hdMini) {
    font-size: 2.6rem;
  }
}
h2 {
  font-size: 1.6rem;
  @include mq($from: tablet) {
    font-size: 1.6rem;
  }
  @include mq($from: hdMini) {
    font-size: 1.8rem;
  }
}
h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.3rem;
}
h5 {
  font-size: 1.1rem;
}